#bookcard {
  display: flex;
 background-image: url(C:\Users\psops\Documents\GitHub\travel-app\TravelApp-Front-end-colin-main\public\Assets\Images\airplane-bookcard.avif);
  height: 500px;
  width: 55%;
  border-radius: 10%;
}

.form {
  margin: 100px;

}

.bookcard--img {
  left: 100px;
  border-radius: 10%;
}

a {
  text-decoration: none;
  color: white;
}
