#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: auto;
  background-image:linear-gradient(#FFEEAF,#F1A661);
  margin-left: 60px;
  margin-right: 60px;

}
