#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
  background-image: linear-gradient(#ffeeaf, #f1a661);
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -60px;
}
