#body {


background-image:linear-gradient(#7FBCD2,#FFEEAF);
  height: auto;
  margin-left: 60px;
  margin-right: 60px;
  word-wrap: none;
  font-family: 'Playfair Display', serif ;
  font-style: italic;
  padding-bottom: 10em;
}

.image1
{
  width: 350px;
text-align: left;
border-radius: 25px;
float:left ;
margin:10px ;

}



.image2
{
  width: 350px;
position: static;
border-radius: 25px;
float: right;
margin-top: 10px;

margin-bottom: 10px;
}


.image3
{
  width:350px;
left: 0px;
border-radius: 25px;
float: left;

margin-top: 10px;
}
.body {
  text-align: center;
  margin: 0;

}

.textOne
{
  text-align: center;

}


.div1
{
  padding: 50px;
  margin: 50px;
  text-align: center;
  height: 200px;
}

.div2
{
  padding: 50px;
  margin: 50px;
  text-align: center;
  margin-top: 150px;
height: 200px;
}
.div3
{
  padding: 50px;
  margin: 50px;
  text-align: center;
  margin-top: 150px;
  height: 200px;
}
.p
{
  padding: 50px;
  margin: 50px;
}