#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height:9em;
  width: 400px;
  background-color: lightblue;
  float: right;
  opacity: 0.6;
font-weight: bold;
border-radius: 13px;
}

.hidden {
  display: none;
}
