.login {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 200px !important;
  width: 400px !important;
  background-color: lightblue !important;
  float: right !important;
}

.register {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 200px !important;
  width: 400px !important;
  background-color: lightblue !important;
  float: right !important;
}

.logged--in {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 200px !important;
  width: 400px !important;
  background-color: lightblue !important;
  float: right !important;
}
